.contenedor {
    background-color: rgb(255, 230, 221);
    height: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: cyan;
    width: 25%;
    height: 100px;
    text-align: center;
}

.item2 {
    background-color: rgb(248, 55, 136);
    width: 25%;
    height: 100px;
    text-align: center;
}

.item3 {
    background-color: rgb(0, 253, 97);
    width: 25%;
    height: 100px;
    text-align: center;
}

.item4 {
    background-color: rgb(251, 255, 22);
    width: 25%;
    height: 100px;
    text-align: center;
} 

@media (max-width: 768px) {
    .item1, .item2, .item3, .item4 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .item1, .item2, .item3, .item4 {
        width: 100%;
    }
    .contenedor {
        padding: 0;
    }
}

@media (max-width: 900px) {
    .contenedor {
        padding: 10px;
        background-color: black;
    }
}